[submodule "syncdesk-api"]
	path = syncdesk-api
	url = git@github.com:Titus-System/syncdesk-api.git
[submodule "syncdesk-web"]
	path = syncdesk-web
	url = git@github.com:Titus-System/syncdesk-web.git
[submodule "syncdesk-mobile"]
	path = syncdesk-mobile
	url = git@github.com:Titus-System/syncdesk-mobile.git
[submodule "syncdesk-library"]
	path = syncdesk-library
	url = git@github.com:Titus-System/syncdesk-library.git
